# 1. Generate data table

In [1]:
import numpy as np
import pandas as pd

In [2]:
a=pd.read_csv("/Users/afraaa/Desktop/matrix.csv")

In [3]:
a

    1  2  3  4  5  6  7  8  9  10  11  12
0   5  5  6  4  4  5  3  3  6   7   6   6
1   7  2  5  1  2  5  2  1  1   7   7   4
2   5  3  4  5  4  2  1  2  5   7   7   5
3   4  2  5  2  3  4  2  5  4   7   6   6
4   4  2  6  2  3  3  1  2  2   3   3   4
5   5  3  6  7  4  3  1  3  3   4   3   5
6   6  4  6  3  2  3  1  2  6   5   7   7
7   4  6  2  3  1  5  4  2  7   7   7   2
8   5  3  6  3  3  3  2  3  4   4   6   5
9   7  4  1  1  1  7  4  1  4   7   7   1
10  5  3  5  3  5  5  1  3  3   5   4   5
11  7  5  6  5  5  5  4  5  5   6   7   6
12  4  3  3  3  5  6  2  5  5   7   7   6
13  5  3  4  3  3  3  3  3  4   3   4   4
14  5  4  2  3  1  5  1  2  3   7   6   4
15  4  6  2  4  4  6  6  2  5   6   6   1
16  6  3  2  1  1  5  1  1  2   6   7   3
17  4  2  3  1  2  4  3  1  3   6   7   2
18  6  3  7  2  7  6  6  5  6   4   3   3

In [4]:
data=[]

In [5]:
for i in range(19):
    for j in range(12):
        data.append(a.iloc[i,j])

In [6]:
data

[5,
 5,
 6,
 4,
 4,
 5,
 3,
 3,
 6,
 7,
 6,
 6,
 7,
 2,
 5,
 1,
 2,
 5,
 2,
 1,
 1,
 7,
 7,
 4,
 5,
 3,
 4,
 5,
 4,
 2,
 1,
 2,
 5,
 7,
 7,
 5,
 4,
 2,
 5,
 2,
 3,
 4,
 2,
 5,
 4,
 7,
 6,
 6,
 4,
 2,
 6,
 2,
 3,
 3,
 1,
 2,
 2,
 3,
 3,
 4,
 5,
 3,
 6,
 7,
 4,
 3,
 1,
 3,
 3,
 4,
 3,
 5,
 6,
 4,
 6,
 3,
 2,
 3,
 1,
 2,
 6,
 5,
 7,
 7,
 4,
 6,
 2,
 3,
 1,
 5,
 4,
 2,
 7,
 7,
 7,
 2,
 5,
 3,
 6,
 3,
 3,
 3,
 2,
 3,
 4,
 4,
 6,
 5,
 7,
 4,
 1,
 1,
 1,
 7,
 4,
 1,
 4,
 7,
 7,
 1,
 5,
 3,
 5,
 3,
 5,
 5,
 1,
 3,
 3,
 5,
 4,
 5,
 7,
 5,
 6,
 5,
 5,
 5,
 4,
 5,
 5,
 6,
 7,
 6,
 4,
 3,
 3,
 3,
 5,
 6,
 2,
 5,
 5,
 7,
 7,
 6,
 5,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 4,
 3,
 4,
 4,
 5,
 4,
 2,
 3,
 1,
 5,
 1,
 2,
 3,
 7,
 6,
 4,
 4,
 6,
 2,
 4,
 4,
 6,
 6,
 2,
 5,
 6,
 6,
 1,
 6,
 3,
 2,
 1,
 1,
 5,
 1,
 1,
 2,
 6,
 7,
 3,
 4,
 2,
 3,
 1,
 2,
 4,
 3,
 1,
 3,
 6,
 7,
 2,
 6,
 3,
 7,
 2,
 7,
 6,
 6,
 5,
 6,
 4,
 3,
 3]

In [7]:
df=pd.DataFrame(data)

In [8]:
df.to_csv("/Users/afraaa/Desktop/matrix_n.csv")

# 2. Run regression on filtered data

In [9]:
dt = pd.read_csv("/Users/afraaa/Desktop/data.csv")

In [10]:
dt.columns

Index(['num', 'ID', 'profile', 'rating', 'Vegetarian', '30 min', '60 min',
       'Bio', 'Delivered before each meal', '6.4', '9.3', 'gender', 'age',
       'geography', 'location', 'frequency'],
      dtype='object')

In [11]:
from sklearn.linear_model import LinearRegression
import numpy as np

/Users/afraaa/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [12]:
#Build partworth table for individuals
pw_ID_c = pd.DataFrame(columns=['Vegetarian', '30 min', '60 min','Bio', 'Delivered before each meal', '6.4', '9.3'])
pw_ID_i = pd.DataFrame(columns=['intercept'])

In [13]:
for i in range(19):
    temp = dt[dt['ID']==i+1]
    X = temp[['Vegetarian', '30 min', '60 min','Bio', 'Delivered before each meal', '6.4', '9.3']]
    y = temp[['rating']]
    reg = LinearRegression().fit(X, y)
    pw_ID_c.loc[i] = reg.coef_[0]
    pw_ID_i.loc[i] = reg.intercept_

In [15]:
temp = dt
X = temp[['Vegetarian', '30 min', '60 min','Bio', 'Delivered before each meal', '6.4', '9.3']]
y = temp[['rating']]
reg = LinearRegression().fit(X, y)
pw_ID_c.loc['All'] = reg.coef_[0]
pw_ID_i.loc['All'] = reg.intercept_

In [16]:
pw_ID_c

,Vegetarian,30 min,60 min,Bio,Delivered before each meal,6.4,9.3
0,-3.333333e-01,-6.666667e-01,-1.133333,3.333333e-01,-3.333333e-01,-1.133333,-2.666667
1,-2.666667e+00,-6.000000e-01,-3.800000,3.333333e-01,-6.666667e-01,-0.200000,-2.400000
2,6.409876e-17,-4.666667e-01,-1.333333,1.000000e+00,1.000000e+00,-1.533333,-3.866667
3,-1.602469e-17,4.666667e-01,-2.066667,-3.333333e-01,4.718448e-16,-1.866667,-2.133333
4,5.000000e-01,-7.333333e-01,-2.466667,-1.666667e-01,-8.333333e-01,0.933333,-0.933333
5,1.500000e+00,4.482525e-15,-1.200000,8.333333e-01,1.666667e-01,1.800000,-1.000000
6,0.000000e+00,-6.000000e-01,-1.800000,-3.333333e-01,-1.000000e+00,-1.200000,-4.400000
7,-2.666667e+00,-7.333333e-01,1.133333,6.666667e-01,3.333333e-01,-2.466667,-2.933333
8,1.666667e-01,-8.000000e-01,-2.000000,-5.000000e-01,-5.000000e-01,-0.200000,-2.200000
9,-4.500000e+00,-4.000000e-01,-0.800000,1.500000e+00,-5.000000e-01,-1.400000,-1.600000
10,1.666667e-01,-4.666667e-01,-2.533333,8.333333e-01,-1.666667e-01,0.266667,-0.866667
11,-3.333333e-01,-6.666667e-02,-1.333333,5.412337e-16,1.179612e-16,0.066667,-1.266667
12,-3.333333e-01,-2.000000e-01,-1.800000,6.666667e-01,6.666667e-01,-2.600000,-1.800000
13,0.000000e+00,6.666667e-02,-0.466667,3.608225e-16,-6.666667e-01,0.133333,-0.733333
14,-2.166667e+00,3.333333e-01,-1.133333,8.333333e-01,5.000000e-01,-1.133333,-2.666667
15,-2.666667e+00,-1.333333e+00,0.933333,1.000000e+00,6.666667e-01,-1.066667,-0.333333
16,-3.000000e+00,-4.000000e-01,-2.400000,6.666667e-01,1.973248e-16,-1.000000,-2.600000
17,-2.333333e+00,-1.333333e+00,-1.866667,3.333333e-01,4.440892e-16,-1.866667,-2.333333
18,3.333333e-01,-8.000000e-01,-1.200000,6.666667e-01,-1.666667e+00,0.600000,1.800000
All,-9.649123e-01,-4.596491e-01,-1.435088,4.385965e-01,-1.578947e-01,-0.729825,-1.838596

In [17]:
pw_ID_i

     intercept
0     7.033333
1     7.500000
2     5.566667
3     6.200000
4     4.233333
5     2.800000
6     7.666667
7     6.666667
8     6.066667
9     6.900000
10    4.700000
11    6.533333
12    6.300000
13    4.166667
14    5.533333
15    5.433333
16    6.466667
17    6.633333
18    5.033333
All   5.864912

In [18]:
pw_ID_c.to_csv("/Users/afraaa/Desktop/pw_ID_c.csv")
pw_ID_i.to_csv("/Users/afraaa/Desktop/pw_ID_i.csv")

In [19]:
#Build partworth table for segments
pw_seg_c = pd.DataFrame(columns=['Vegetarian', '30 min', '60 min','Bio', 'Delivered before each meal', '6.4', '9.3'])
pw_seg_i = pd.DataFrame(columns=['intercept'])

In [20]:
for j in ['gender', 'age','geography', 'location', 'frequency']:
    for i in set(dt[j]):
        temp = dt[dt[j]==i]
        X = temp[['Vegetarian', '30 min', '60 min','Bio', 'Delivered before each meal', '6.4', '9.3']]
        y = temp[['rating']]
        reg = LinearRegression().fit(X, y)
        pw_seg_c.loc[i] = reg.coef_[0]
        pw_seg_i.loc[i] = reg.intercept_

In [21]:
temp = dt
X = temp[['Vegetarian', '30 min', '60 min','Bio', 'Delivered before each meal', '6.4', '9.3']]
y = temp[['rating']]
reg = LinearRegression().fit(X, y)
pw_seg_c.loc['All'] = reg.coef_[0]
pw_seg_i.loc['All'] = reg.intercept_

In [22]:
pw_seg_c

,Vegetarian,30 min,60 min,Bio,Delivered before each meal,6.4,9.3
Male,-2.095238,-0.695238,-0.847619,0.571429,-0.142857,-0.961905,-1.638095
Female,-0.305556,-0.322222,-1.777778,0.361111,-0.166667,-0.594444,-1.955556
18-24,-1.107843,-0.498039,-1.337255,0.519608,-0.127451,-0.760784,-1.874510
25-34,0.250000,-0.133333,-2.266667,-0.250000,-0.416667,-0.466667,-1.533333
North America,0.500000,-0.733333,-2.466667,-0.166667,-0.833333,0.933333,-0.933333
Africa,-0.333333,-0.200000,-1.800000,0.666667,0.666667,-2.600000,-1.800000
Europe,-1.166667,-0.633333,-1.166667,0.166667,-0.333333,-0.866667,-1.533333
South America,0.166667,-0.466667,-2.533333,0.833333,-0.166667,0.266667,-0.866667
Asia-Pacific,-1.166667,-0.433333,-1.295238,0.476190,-0.142857,-0.766667,-2.019048
In supermarket,-1.178571,-0.485714,-1.428571,0.416667,-0.083333,-1.014286,-2.085714
Online,-0.366667,-0.386667,-1.453333,0.500000,-0.366667,0.066667,-1.146667
Never,0.500000,-0.733333,-2.466667,-0.166667,-0.833333,0.933333,-0.933333
Daily,-1.312500,-0.258333,-1.366667,0.312500,-0.229167,-1.191667,-2.158333
Often (over 3 times per week),-0.479167,-0.616667,-1.358333,0.604167,-0.104167,-0.283333,-1.466667
Occasionally (less than 3 times per week),-2.250000,-0.500000,-1.500000,0.583333,0.250000,-1.500000,-2.500000
All,-0.964912,-0.459649,-1.435088,0.438596,-0.157895,-0.729825,-1.838596

In [30]:
pw_seg_i

                                           intercept
Male                                        5.785714
Female                                      5.911111
18-24                                       5.941176
25-34                                       5.216667
North America                               4.233333
Africa                                      6.300000
Europe                                      5.400000
South America                               4.700000
Asia-Pacific                                6.100000
In supermarket                              5.969048
Online                                      5.573333
Never                                       4.233333
Daily                                       6.491667
Often (over 3 times per week)               5.387500
Occasionally (less than 3 times per week)   6.083333
All                                         5.864912

In [31]:
pw_seg_c.to_csv("/Users/afraaa/Desktop/pw_seg_c.csv")
pw_seg_i.to_csv("/Users/afraaa/Desktop/pw_seg_i.csv")

In [32]:
imp_seg = pd.DataFrame(columns=['Meal type', 'Cook time', 'Wellness','Delivery mode','Price'])

In [33]:
for i in pw_seg_c.index:
    m=pw_seg_c.loc[i]
    r=[]
    r.append(max(0,m['Vegetarian'])-min(0,m['Vegetarian']))
    r.append(max(0,m['30 min'],m['60 min'])-min(0,m['30 min'],m['60 min']))
    r.append(max(0,m['Bio'])-min(0,m['Bio']))
    r.append(max(0,m['Delivered before each meal'])-min(0,m['Delivered before each meal']))
    r.append(max(0,m['6.4'],m['9.3'])-min(0,m['6.4'],m['9.3']))
    imp_seg.loc[i] = r/sum(r)

In [34]:
imp_seg

,Meal type,Cook time,Wellness,Delivery mode,Price
Male,0.395683,0.160072,0.107914,0.026978,0.309353
Female,0.066910,0.389294,0.079075,0.036496,0.428224
18-24,0.223056,0.269246,0.104619,0.025661,0.377418
25-34,0.053004,0.480565,0.053004,0.088339,0.325088
North America,0.085714,0.422857,0.028571,0.142857,0.320000
Africa,0.054945,0.296703,0.109890,0.109890,0.428571
Europe,0.267176,0.267176,0.038168,0.076336,0.351145
South America,0.034483,0.524138,0.172414,0.034483,0.234483
Asia-Pacific,0.228758,0.253968,0.093371,0.028011,0.395892
In supermarket,0.226960,0.275103,0.080238,0.016048,0.401651
Online,0.094017,0.372650,0.128205,0.094017,0.311111
Never,0.085714,0.422857,0.028571,0.142857,0.320000
Daily,0.243997,0.254067,0.058095,0.042603,0.401239
Often (over 3 times per week),0.119418,0.338525,0.150571,0.025961,0.365524
Occasionally (less than 3 times per week),0.317647,0.211765,0.082353,0.035294,0.352941
All,0.199565,0.296807,0.090711,0.032656,0.380261

In [35]:
imp_seg.to_csv("/Users/afraaa/Desktop/imp_seg.csv")

In [36]:
r

[0.964912280701754,
 1.4350877192982456,
 0.43859649122806965,
 0.1578947368421047,
 1.838596491228072]

In [37]:
r/sum(r)

array([0.19956459, 0.29680697, 0.09071118, 0.03265602, 0.38026125])